@{
    ViewData["Title"] = "Pet Care";
}


    


    <div class="container">
        <img src="~/img/dog2.jpg" alt="Notebook" style="width:95%;">
        <div class="content">
            
            <p>Our website manages our family business and love with pets</p>
            <p>Here we have our catalog of services we offer, our family and partners also know as "Employees" </p>
            <p>Please, make sure before booking an appointment to check it that time/slot is available </p>
        </div>
    </div>








